/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html{
    height:100%;
}
body {
    line-height: 1;
    min-height: 100vh;
    height:100%;
    font-family: 'JetBrains Mono', monospace;
    background-image: url("img/background1.jpg");
    background-position: top left;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img{
    display:block;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
:root{
    --accent-color: #FD4B7D;
    --dark-color: #000;
    --shadows: rgba(0, 0, 0, 0.25);
    --button-color:#09C4FFFF;
    --light-color:#fff;
    --background-color: rgba(203, 203, 203, 0.283);
}
.container{
    max-width: 1500px;
    height: auto;
    margin: 0 auto;
    flex: 1 0 auto;
}
/*HEADER + MENU + SEARCHBAR */
.header{
    width:100%;
    height:70px;
    margin: 0 auto 50px;
}
.menu{
    height:70px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px 0 100px;
    margin-bottom: 100px;
    background-color:rgba(222, 184, 135, 0.365);;
}
.logo{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: 'Ysabeau', sans-serif;
    margin-right: 20px;
}
/*Cities cards */
.cardContainer{
    display:flex;
    flex-direction: row; 
}
.card-item{
    border-right: 1px solid #fff;
    box-sizing: border-box;
}
.card-item:hover{
    background-color: var(--shadows);
}
.weather-city-item{
    display: flex;
    flex-direction:column;
    justify-content: left;
    align-items: start;
    cursor: pointer;
    height: 48px;
    width:100%;
    padding-right: 4.25px;
    margin: 5px 10px 5px 15px;
}
.card-name{
    margin-right: 5px;
}
.card-info{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}
.img-card{
    width:30px;
    height:30px;
    vertical-align: middle;
}
.card-temp{
    font-size: 14px;
    margin: 0 12px 0 6px;
}
.time-card{
    font-size: 12px;
}
.scale{
    display: flex;
    align-items: center;
    justify-content: center;
}
.scale div{
    font-size: 1.5rem;
}
.celsius, .fahrenheit {
    cursor:pointer;
    width:30px;
    height:30px;
    text-align: center;
    font-size: 1.5rem;
}
.active{
    font-weight: 700;
    color: var(--button-color);
    text-shadow: 0 2px 3px var(--shadows);
}
/*Input Search Locations*/
form>div {
    display:flex;
    justify-content: center;
    align-items: center;
}
.searchBar{

    border-radius: 20px;
    padding-left: 10px;
    background: var(--background-color);
}
#inputSearch {
    width: 100%;
    height: 45px;
    border:none;
    font-size: 1rem;
    padding: 0 15px;
    cursor: text;
    background-color:transparent;
    color:black;
    font-family: 'JetBrains Mono', monospace;
}
#inputSearch::placeholder{
    color:grey;
    font-size: 1rem;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 100;
}
#inputSearch:focus{
    outline: none;
}
.fa-location-dot{
    color: var(--shadows);
    font-size: 15px;
}
/* CITY NAME WITH CURRENT DATE */
.cityTitle_flex{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#cityTitle{
    color: var(--accent-color);
    text-shadow: 0 2px 3px var(--shadows);
    font-size:2rem;
    margin-bottom: 20px;
}
#dateInfo{
    color: var(--light-color);
    font-size: 1.3rem; 
}
/*INFORMATION ABOUT WEATHER */
.weatherInfo__flex{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:end;
    margin-bottom: 30px;
    height:auto;
}
.weatherInfo__flex p{
    margin-bottom: 10px;
}
.weatherInfo__flex p:last-child{
    margin-bottom: 0;
}
p.feels{
    font-size: 1.3rem;
}
.info{
    max-height: 100%;
    margin-bottom: 0;
}
.sunInfo{
    width:100%;
    margin-right: 30px;
    flex: 0 0 220px;
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.weatherImg{
    width:130px;
    height: auto;
    min-width: 40%;
}
.temperatureInfo{
    width:100%;
    height:100%;
    margin-right: 30px;
}
.temperatureInfo{
    height: 100%;
}
#temperature{
    color: var(--accent-color);
    text-shadow: 0 2px 3px var(--shadows);
    font-size: 4.5rem;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 10px;
    font-family: 'Ysabeau', sans-serif;
}
/*ANIMATION OF NUMBER OF TEMPERATURE*/
.gradient{
    background: linear-gradient(270deg,  #0c26be, var(--accent-color), var(--button-color));
  /*  background: -webkit-linear-gradient (270deg,  #0c26be, rgb(249, 23, 117), #09C4FF);*/
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    animation: dbm-animation 6s ease infinite;      
    -webkit-animation: dbm-animation 6s ease infinite;    
    background-size: 400% 200%;
}
@keyframes dbm-animation {
    0% {
        background-position: 0 center;
    }
    50% {
        background-position: 50%  center;
    }
    100% {
        background-position: 0  center;
    }
}
/*MORE DESCRIBE SECTION*/
.title_moreDescription{
    color: var(--dark-color);
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.moreDescription {
    width: 70%;
    height: auto;
    border-radius: 8px;
    background: var(--background-color);
    backdrop-filter: blur(4px);
    margin-left: auto;
    order: 2;
    padding: 33px;
}
.moreDescriptionList{
    list-style: none;
    margin-right: 40px;
    font-size: 1rem;
}
.moreDescriptionList li{
    margin-bottom: 10px;
}
.moreDescriptionList li:last-child{
    margin-bottom: 20px;
}
.listas{
    display:flex;
    justify-content: space-between;
}
/*LINES */
.line-today{
    width: 200px;
    height:35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: -3px;
}
.today{
    text-align: center;
    font-weight: 700;
    color: var(--accent-color);
    text-transform: uppercase;
    margin-bottom: 5px;
}
.lineToday{
    height: 3px;
    width: 160px;
    background-color: var(--accent-color);
}
.triangle-top {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid var(--accent-color);
}
.line {
    width:100%;
    height: 3px;
    background: var(--shadows);
    margin: 0 auto;
}

/*CARDS OF 7 DAYS FORECAST*/

.swiper {
    width: 100%;

  }
  .swiper-wrapper{
    height: auto;
  }
  .swiper-slide {
    text-align: center;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
.card{
    width: 100%;
    max-width: 170px;
    height:240px;
    border-radius: 8px;
    background: var(--background-color);
    box-shadow: 0 2px 3px var(--shadows);
    text-align: left;
    padding: 25px 15px 25px 15px;
    display:flex;
    flex-direction: column;
    justify-content: baseline;
} 
.weeklyWeather__grid.swiper-wrapper{
     padding: 40px 0 40px 0;
}
.weeklyWeather__grid p{
    margin-bottom: 5px;
}
.icon-wrapper{
    text-align: left;
    margin-bottom: 10px;
}
.iconWeeklyWeather{
    width:70px;
    max-width:100%;
    height: 70px;
    min-width: 40%;
    margin: 0 auto;
    vertical-align: middle;
}
.temperature {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}
.conditions{
    margin-top: 10px;
    text-align: left;
}
.title_day{
    color: var(--light-color);
    font-size: 1rem;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.date{
    font-size: 0.8rem;
    padding-bottom: 15px;
}
/*FOOTER*/
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    flex: 0 0 auto;
}
.footer_title{
    color: var(--light-color);
    font-size: 0.9rem;
}