
@media (min-width: 1201px) and (max-width: 1919px) {
    .container{
        width:90%;
    }
    .menu{
        height:60px;
    }
    .logo{
        font-size: 1.2rem;
    }

    /*search bar*/

    .buttonSearch{
        height: auto;
    }
    #inputSearch {
        height: 40px;
        font-size: 12px;
        padding: 0 10px;
    }
    #inputSearch::placeholder{
        font-size: 12px;
    }

    /*slider*/

    .CONTAINER-SLIDER{
        width:100%;
        margin-right: 30px;
    }
    .slide1 {
        max-width: 190px;
    }
    .swiper-button-next, .swiper-button-prev {
        --swiper-navigation-size: 18px;
    }
    .weather-city-item{
        height: 45px;
        width:200px;;
        padding-left: 10px;
        padding-right: 10px;
    }
    .card-name{
        font-size: 14px;
    }
    .img-card{
        width:25px;
        height:25px;
    }
    .scale{
        align-items: start;
    }
    .scale div{
        font-size: 1.3rem;
    }
    .celsius, .fahrenheit {
        font-size: 1.3rem;
    }

    #cityTitle{
        font-size:1.5rem;
        margin-bottom: 40px;
    }
    .weatherInfo{
        width: 100%;
    }
    .weatherInfo__flex{
        margin-bottom: 30px;
    }
    .p.feels{
        font-size: 1.1rem;
    }
    .sunInfo{
        margin-right: 0;
        width:80%;
        flex: 0 0 160px;
    }
    .weatherImg{
        width:100px;
        height: 100px;
    }
    .temperatureInfo{
        flex: 0 0 400px;
        height:100%;
    }
    #temperature{
        font-size: 4rem;
        margin-bottom: 15px;
        padding: 10px;
    }
    .p.feels{
        font-size: 16px;
    }
    .title_moreDescription{
        font-size: 1rem;
    }
    .moreDescription {
        flex: 0 0 auto;

    }
    .moreDescriptionList{
        margin-right: 30px;
        font-size: 0.9rem;
    }
    .card{
        width: 100%;
        max-width:160px;
        height:230px;
        padding: 15px 15px 15px 15px;
    }
    .weeklyWeather__grid.swiper-wrapper{
        padding: 30px 0 30px 0;
    }
    .iconWeeklyWeather{
        width:50px;
        height: 50px;
    }
}



/* Pantallas entre 1025px y 1280px */
@media (min-width: 1025px) and (max-width: 1200px) {
    .container{
        width:90%;
    }
    .menu{
        height:60px;
    }
    .logo{
        font-size: 1.2rem;
    }

/*search bar*/
    .search-container{
        width:100%;
    }
    .buttonSearch{
        height: auto;
    }
    #inputSearch {
        height: 40px;
        font-size: 12px;
        padding: 0 10px;
    }
    #inputSearch::placeholder{
        font-size: 12px;
    }

/*slider*/

    .CONTAINER-SLIDER{
        width:300px;
        margin-right: 30px;
    }
    .slide1 {
        width: 100%;
    }
    .swiper-button-next, .swiper-button-prev {
        --swiper-navigation-size: 18px;
    }
    .weather-city-item{
        height: 45px;
        width:200px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .card-name{
        font-size: 14px;
    }
    .img-card{
        width:25px;
        height:25px;
    }
    .scale{
        align-items: start;
    }
    .scale div{
        font-size: 1.3rem;
    }
    .celsius, .fahrenheit {
        font-size: 1.3rem;
    }

    #cityTitle{
        font-size:1.5rem;
        margin-bottom: 40px;
    }
    .weatherInfo{
        width: 100%;
    }
    .weatherInfo__flex{
        margin-bottom: 30px;
    }
    .p.feels{
        font-size: 1.1rem;
    }
    .sunInfo{
        margin-right: 0;
        width:80%;
        flex: 0 0 160px;
    }
    .weatherImg{
        width:100px;
        height: 100px;
    }
    .temperatureInfo{
        flex: 0 0 400px;
        height:100%;
    }
    #temperature{
        font-size: 4rem;
        margin-bottom: 15px;
        padding: 10px;
    }
    .p.feels{
        font-size: 16px;
    }
    .title_moreDescription{
        font-size: 1rem;
    }
    .moreDescription {
        flex: 0 0 250px;
       
    }
    .moreDescriptionList{
        margin-right: 30px;
        font-size: 0.9rem;
    }
    .card{
        width: 100%;
        max-width:120px;
        height:230px;
        padding: 15px 15px 15px 15px;    
    }
    .weeklyWeather__grid.swiper-wrapper{
        padding: 30px 0 30px 0;
    }
    .iconWeeklyWeather{
        width:50px;
        height: 50px;
    }
}
/* Pantallas entre 884px y 1024px */
@media (min-width: 884px) and (max-width: 1024px) {
    .container{
        width:90%;
    }
    .menu{
        height:60px;
        padding: 0 20px 0 20px;
    }
    .logo{
        font-size: 1rem;
    }
/*search bar*/
    .search-container{
        width:100%;
    }
    .buttonSearch{
        height: auto;
    }
    #inputSearch {
        height: 40px;
        font-size: 12px;
        padding: 0 10px;
    }
    #inputSearch::placeholder{
        font-size: 12px;
    }

/*slider*/

    .CONTAINER-SLIDER{
        width:400px;
        margin-right: 30px;
    }
    .slide1 {
        max-width: 200px;
    }
    .swiper-button-next, .swiper-button-prev {
        --swiper-navigation-size: 18px;
    }
    .weather-city-item{
        height: 45px;
        width:auto;
        padding-left: 10px;
        padding-right: 10px;
    }
    .card-name{
        font-size: 14px;
    }
    .img-card{
        width:25px;
        height:25px;
    }
    .scale{
        align-items: start;
    }
    .scale div{
        font-size: 1.3rem;
    }
    .celsius, .fahrenheit {
        font-size: 1.3rem;
    }

    #cityTitle{
        font-size:1.5rem;
        margin-bottom: 40px;
    }
    .weatherInfo{
        width: 100%;
    }
    .weatherInfo__flex{
        margin-bottom: 30px;
        flex-wrap: wrap;
    }
    .p.feels{
        font-size: 1.1rem;
    }
    .sunInfo{
        margin-right: 0;
        width:80%;
        flex: 0 0 160px;
    }
    .weatherImg{
        width:100px;
        height: 100px;
    }
    .temperatureInfo{
        flex: 0 0 400px;
        height:100%;
    }
    #temperature{
        font-size: 4rem;
        margin-bottom: 15px;
        padding: 10px;
    }
    .p.feels{
        font-size: 16px;
    }
    .title_moreDescription{
        font-size: 1rem;
    }
    .moreDescription {
        flex: 0 0 80%;
        padding: 25px;
        margin-left: 0;
        margin-top: 20px;
       
    }
    .moreDescriptionList{
        margin-right: 30px;
        font-size: 0.9rem;
    }
    .card{
        width: 100%;
        max-width:125px;
        height:250px;
        padding: 15px 15px 15px 15px;    
    }
    .weeklyWeather__grid.swiper-wrapper{
        padding: 30px 0 30px 0;
    }
    .iconWeeklyWeather{
        width:50px;
        height: 50px;
    }
    .conditions{
        margin-top: 10px;
        text-align: left;
        font-size: 12px;
    }

}

/* Pantallas entre 481px y 768px */
@media (min-width: 481px) and (max-width: 883px) {
    .container{
        width:90%;
    }
    .menu{
        height:auto;
        padding: 0 10px 0 10px;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: end;

    }

    .logo{
        font-size: 16px;
        margin-top: 10px;
        margin-right: 0;
        display:none;

    }

    /*search bar*/
    .search-container{
        width:100%;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;

    }
    .buttonSearch{
        height: auto;
    }
    #inputSearch {
        height: 40px;
        font-size: 12px;
        padding: 0 10px;
    }
    #inputSearch::placeholder{
        font-size: 12px;
    }

    /*slider*/

    .CONTAINER-SLIDER{
        width:350px;
        margin-right: 30px;
    }
    .slide1 {
        max-width: 190px;
    }
    .swiper-button-next, .swiper-button-prev {
        --swiper-navigation-size: 18px;
    }
    .weather-city-item{
        height: 45px;
        width:auto;
        padding-left: 10px;
        padding-right: 10px;
    }
    .card-name{
        font-size: 14px;
    }
    .img-card{
        width:25px;
        height:25px;
    }
    .scale{
        align-items: start;
    }
    .scale div{
        font-size: 16px;
    }
    .celsius, .fahrenheit {
        font-size: 16px;
    }

    #cityTitle{
        font-size:1.5rem;
        margin-bottom: 40px;
    }
    .weatherInfo{
        width: 100%;
    }
    .weatherInfo__flex{
        margin-bottom: 30px;
        flex-wrap: wrap;
    }
    .p.feels{
        font-size: 1.1rem;
    }
    .sunInfo{
        margin-right: 0;
        width:80%;
        flex: 0 0 160px;
    }
    .weatherImg{
        width:100px;
        height: 100px;
    }
    .temperatureInfo{
        flex: 0 0 400px;
        height:100%;
    }
    #temperature{
        font-size: 4rem;
        margin-bottom: 15px;
        padding: 10px;
    }
    .p.feels{
        font-size: 16px;
    }
    .title_moreDescription{
        font-size: 1rem;
    }
    .moreDescription {
        flex: 0 0 80%;
        padding: 25px;
        margin-left: 0;
        margin-top: 20px;

    }
    .moreDescriptionList{
        margin-right: 30px;
        font-size: 0.9rem;
    }
    .card{
        width: 100%;
        max-width:125px;
        height:250px;
        padding: 15px 15px 15px 15px;
    }
    .weeklyWeather__grid.swiper-wrapper{
        padding: 30px 0 30px 0;
    }
    .iconWeeklyWeather{
        width:50px;
        height: 50px;
    }
    .conditions{
        margin-top: 10px;
        text-align: left;
        font-size: 12px;
    }


}

/* Pantallas más pequeñas que 481px */
@media (max-width: 480px) {

}
