/* Pantallas entre 1025px y 1280px */
@media (min-width: 1025px) and (max-width: 1200px) {
    .container{
        max-width: auto;
        width:90%;
    }
    .menu{
        height:60px;
    }
    .logo{
        font-size: 1.3rem;
    }
    .img-card{
        width:25px;
        height:25px;
    }
    .scale div{
        font-size: 1.3rem;
    }
    .card-name{
        margin-right: 5px;
        font-size: 16px;
    }
    .img-card{
        width:20px;
        height:20px;
    }
    .card-temp{
        font-size: 16px;
        margin: 0 12px 0 6px;
    }
    .time-card{
        font-size: 12px;
    }
    .celsius, .fahrenheit {
        font-size: 1.3rem;
    }
    #inputSearch {
        height: 40px;
        font-size: 12px;
        padding: 0 10px;
    }
    #inputSearch::placeholder{
        font-size: 12px;
    }
    #cityTitle{
        font-size:1.5rem;
        margin-bottom: 40px;
    }
    .weatherInfo__flex{
        display:flex;
        flex-direction: row;
        justify-content: start;
        margin-bottom: 30px;
        height:auto;
    }
    .p.feels{
        font-size: 1.1rem;
    }
    .sunInfo{
        margin-right: 0;
        width:80%;
        align-items:start;
        flex: 0 0 160px;
    }
    .weatherImg{
        width:100px;
        height: 100px;
    }
    .temperatureInfo{
        width:80%;
        height:100%;
    }
    #temperature{
        font-size: 4rem;
        margin-bottom: 15px;
        padding: 10px;
    }
    .p.feels{
        font-size: 16px;
    }
    .title_moreDescription{
        font-size: 1rem;
    }
    .moreDescription {
        padding: 15px;
        width: 50%;
        margin-left: 0;
    }
    .moreDescriptionList{
        margin-right: 30px;
        font-size: 0.9rem;
    }
    .card{
        width: 100%;
        max-width: 100px;
        height:230px;
        padding: 15px 15px 15px 15px;    
    }
    .weeklyWeather__grid.swiper-wrapper{
        padding: 30px 0 30px 0;
    }
    .iconWeeklyWeather{
        width:50px;
        height: 50px;
    }
}
/* Pantallas entre 769px y 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
    .container{
        max-width: auto;
        width:90%;
    }
    
    .menu{
        height:60px;
    }
    .logo{
        font-size: 24px;
    }
    .scale div{
        font-size: 24px;
    }
    .card-name{
        margin-right: 5px;
        font-size: 16px;
    }
    .img-card{
        width:20px;
        height:20px;
    }
    .card-temp{
        font-size: 16px;
        margin: 0 12px 0 6px;
    }
    .time-card{
        font-size: 12px;
    }
    .celsius, .fahrenheit {
        font-size: 24px;
    }
    #inputSearch {
        height: 36px;
        font-size: 12px;
        padding: 0 10px;
    }
    #inputSearch::placeholder{
        font-size: 12px;
    }
    #cityTitle{
        font-size: 24px;
        margin-bottom: 30px;
    }
    .weatherInfo__flex{
        margin-bottom: 20px;
    }
    .p.feels{
        font-size: 1.1rem;
    }
    .sunInfo{
        flex: 0 0 160px;
    }
    #temperature{
        font-size: 56px;
    }
    .p.feels{
        font-size: 16px;
    }
    .title_moreDescription{
        font-size: 16px;
    }
    .moreDescriptionList{
        font-size: 14px;
    }
    .card{
        max-width: 110px;
        height:230px;
    }
    .weeklyWeather__grid.swiper-wrapper{
        padding: 20px 0 20px 0;
    }
    .iconWeeklyWeather{
        width:40px;
        height: 40px;
    }
}

/* Pantallas entre 481px y 768px */
@media (min-width: 481px) and (max-width: 768px) {

}

/* Pantallas más pequeñas que 481px */
@media (max-width: 480px) {

}
